*~
bcfplugins/bcftools-1.2/htslib-1.2.1/*.pico
bcfplugins/bcftools-1.2/htslib-1.2.1/cram/*.pico
bcfplugins/bcftools-1.2/htslib-1.2.1/*.o
bcfplugins/bcftools-1.2/htslib-1.2.1/cram/*.o
bcfplugins/bcftools-1.2/*.o
bcfplugins/bcftools-1.2/plugins/*.so
bcfplugins/bcftools-1.2/htslib-1.2.1/*.so
