Working on [% pseudoalign %]
Working with genome [% query %]
Working with reference [% reference %]

Intersection	1
Contig	Position	Reference	Genome
chr	5	A	A

Unique to Nucmer	0
Contig	Position	Reference	Genome

Unique to Core Pipeline	0
Contig	Position	Reference	Genome
