Working on [% pseudoalign %]
Working with genome [% query %]
Working with reference [% reference %]

Intersection	0
Contig	Position	Reference	Genome

Unique to Nucmer	1
Contig	Position	Reference	Genome
chr	5	A	T

Unique to Core Pipeline	1
Contig	Position	Reference	Genome
chr	5	A	A
