Reference	Genome	Bad Positions	Total Reference Length	Total Length Kept	% Kept	Core Pipeline Positions	Nucmer Positions	Nucmer Filtered Positions	Intersection	Unique Core Pipeline	Unique Nucmer	% True Positive	% False Positive	% False Negative
[% reference %]	[% query %]	[% bad_positions %]	184	184	100.0	1	1	1	0	1	1	0.0	100.0	100.0
