Working on [% pseudoalign %]
Working with core positions [% core_positions %]
Working with bad positions [% bad_positions %]
Working with genome [% query %]
Working with reference [% reference %]

Intersection	2
Contig	Position	[% reference_base %]	[% query_base %]
chr	10	A	A
chr	5	A	A

Unique to Nucmer	0
Contig	Position	[% reference_base %]	[% query_base %]

Unique to Core Pipeline	0
Contig	Position	[% reference_base %]	[% query_base %]

Core Pipeline Unknown	0
Contig	Position	[% reference_base %]	[% query_base %]
