Reference	Genome	Bad Positions	Total Reference Length	Total Length Kept	% Kept	Core Pipeline Positions	Nucmer Positions	Nucmer Filtered Positions	Intersection	Unique Core Pipeline	Unique Nucmer	% True Positive	% False Positive	% False Negative
[% reference_base %]	[% query_base %]	[% bad_positions_base %]	184	184	100.0	2	2	2	1	1	1	50.0	50.0	50.0
