Reference	Genome	Core Positions File	Bad Positions File	Total Reference Length	Total Length Used	% Used	Core Pipeline Positions	Nucmer Positions	Nucmer SNPs	Nucmer Filtered Positions	Nucmer Filtered SNPs	Intersection	Unique Core Pipeline	Unique Nucmer	% True Positive	% False Positive	% False Negative
[% reference_base %]	[% query_base %]	[% core_positions_base %]	[% bad_positions_base %]	184	184	100.0	2	2	1	2	1	1	1	1	50.0	50.0	50.0
