Working on [% pseudoalign %]
Working with bad positions [% bad_positions %]
Working with genome [% query %]
Working with reference [% reference %]

Intersection	1
Contig	Position	[% reference_base %]	[% query_base %]
chr	10	A	G

Unique to Nucmer	0
Contig	Position	[% reference_base %]	[% query_base %]

Unique to Core Pipeline	0
Contig	Position	[% reference_base %]	[% query_base %]
